<body class="home">
<div class="centered_bar">
  <div class="small-12 small-centered columns">
    <div class="home_text">Search for jobs, track your progress, land your next gig!</div>
  </div>
    <%= form_tag(searches_path, method: :get) do %>
      <div class="row">
          <div class="row collapse postfix-round">
            <div class="small-9 columns">
              <%= text_field_tag(:q) %>
            </div>
            <div class="small-3 columns">
              <%= submit_tag("Start Job Hunt", class: "button postfix") %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

</div>
</body>
