
@import "variables";
@import url('//fonts.googleapis.com/css?family=Special+Elite');

#magellan_bar {
  min-width: 0;
  width: auto;
  margin: 0 auto;
  margin-left: 5%;
  list-style-type: none;
}

.top-bar {
  background-color: $bar;

    a {
    font-family: $font-sans;
    font-size: 28px;
    }
}

h3 {
  font-family: $font-sans;
}

h2 {
  color: $white;
}

body{
  background-color: $background;
  font-family: $font-sans;
  min-height: 100%;
  position: relative;
}

body.home {
  background-image: url("http://static4.businessinsider.com/image/53a1eb91ecad045e6987bc69-1200/its-hard-to-say-whether-this-is-really-an-office-or-just-a-hip-cafe.jpg");
  background-repeat: no-repeat;
  background-size: 90em;
  height: 100%;
}

.container {
  margin-left: 8%;
  margin-right: 0;
  min-height: 100%;
}

.flash {
  color: $white;
  text-align: center;
  margin-right: 5%;
  width: 100%;
  background-color: rgba(255, 153, 0, 0.5);
}

.inline {
  display: inline-block;

  input {
    width:280px;
    border-radius: 5%;
  }

  label {
      color: $orange;
      font-weight: bold;

      span {
        color: $black;
        font-size: 10px;
      }

    }
}

.block {
  display: inline-block;
  input {
    width:100px;
    border-radius: 5%;
  }

}

.form {
  margin-left: 10%;
  display: inline-block;
}

.centered_bar {
  margin-top: 10em;
  margin-left: 10%;
}


.sub-nav {
  dd a {
    color: $linkedin;
    font-family: $font-sans;
  }
  background-color: $black;
}

.panel{
  background-color: $white;
  box-shadow: 0 1px 1px
}

.tracking{
  a {
    color: $purple;
    font-size: 12px;
  }
}
