@import "variables";

.home_text {
  color: $white;
  font-size: 28px;
  text-align: center;
  text-shadow: 2px 0 0 $black;
}

.inline_search {
  display: inline-block;

  input {
    background-color: $button-color;
    border: transparent;
    border-radius: 10%;
    color: $white;

    &:hover {
      background-color: darken($button-color, 30%);
    }

  }
}

.job_deets {
  font-family: Arial,sans-serif;
  font-size: 10pt;
  line-height: 1.3;
}
