$topbar-bg-color: #3498db;
$button-bg-color: #EA7676;
$white: #ffffff;
$background: #e9e9e9;
$main-color: green;
$font-sans: Special Elite;
$button-color: #1E90FF;
$purple: #CD29C0;
$bar: #3f3f3f;
$grey: #aaa;
$linkedin: #d7d7d7;
$orange: #ff8c00;
$black: #000000;
$blue: #3498db;
$border: #dddddd;
